.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-div {
  overflow: hidden;
  position: relative;
}

.hidden-text:hover + img {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.hidden-text + img {
  transition-duration: 0.5s;
}

.hidden-text:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  opacity: 1;
}

.hidden-text {
  position: absolute;
  transition-duration: 0.5s;
  color: white;
  opacity: 0;
  z-index: 1;
  height: 100%;
  overflow-y: scroll !important;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  margin: 30px 30px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rated-r {
  color: red;
}

.hidden-text {
  padding: 10px;
}

.title {
  color: gold;
  letter-spacing: 1.5px;
}

/* MODAL */
.youtube-video {
  width: 100%;
  height: 100%;
}


.youtube-modal {
  position: absolute;
  z-index: 100;
}

.trailer-button {
  letter-spacing: 0.5px;
  font-weight: 600 !important;
}


